* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 2.5rem;
}

.card {
  background-color: #000000;
}

/* Home */
.nav {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  text-decoration: none;
  color: #000000;
  padding: 1rem 2rem;
}
.nav:hover {
  background: none;
}
.logo {
  width: 32px;
  height: 32px;
  margin-right: 2px;
}
.card {
  position: relative;
  overflow: hidden;
  min-height: 15rem;
}

.card-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  object-fit: cover;

}

.card-title {
  position: absolute;
  z-index: 10;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0%);
  color: white;
  width: 80%;
  text-align: center;
  font-size: 0.85rem;
  font-weight: 600;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper h3 {
  margin-bottom: 1rem;
  font-size: 1rem;
}

/* Search */
form {
  margin-bottom: 1rem;
}

.search {
  width: 75%;
  position: relative;
  margin: auto;
}

input {
  border: none;
  background: #ff9d00;
  font-size: 1.5rem;
  padding: 8px 38px;
  border: none;
  border-radius: 1rem;
  outline: none;
  width: 100%;
  color: black;


}

form svg {
  color: black;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(100%, -50%);
}


/* Category */

.category {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icon {
  width: 30px;
  height: 30px;
  margin-left: 20px;

}

svg {
  color: black;
}

.category h4 {
  font-size: 0.5rem;
  color: black;
  text-align: center;

}

.category a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background: #ff9d00;
  width: 4.25rem;
  height: 4.25rem;
  border-radius: 50%;
  transform: scale(0.8);
}

a:hover {
  background: #fff127;
}


/* cuisine & searched */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 3rem;
}

.grid a {
  text-decoration: none;
  color: black;
}

.sorted-img {
  width: 100%;
}

.sorted-title {
  text-align: center;
  font-size: 0.75rem;
  padding: 0.5rem;
}

/* recipe details */
.detail-wrapper {
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.detail-img {
  width: 80%;
  margin: auto;
  text-align: center;

}

.detail-img h2 {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.detail-img img {
  width: 100%;
  height: 100%;

}

.detail-info {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  text-align: center;

}

button {
  padding: 0.8rem 1rem;
  color: #ff9d00;
  background: white;
  border: 2px solid #ff9d00;
  font-weight: 600;

}

.active {
  background: #ff9d00;
  color: white;
}

.recipe-detail {
  margin-top: 1rem;
  text-align: left;
  line-height: 1.25rem;
  padding: 5px 15px;
  margin-bottom: 1rem;
  font-size: 0.85rem;
}


/* media queries */
@media (min-width: 768px) {
  /* home */
  .nav {
    padding: 3rem 0 1rem 4rem;
  }

  /* serch */
  .search {
    width: 60%;
  }
  /* category */
  .category {
    width: 45%;
  }

  /* recipe details */
  .recipe-detail {
    margin-top: 2rem;
    line-height: 1.5rem;
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  /* home */
  .nav {
    padding: 4rem 0 1rem 5rem;
  }
  /* search */
  .search {
    width: 50%;
  }

  /* category */
  .category {
    width: 40%;
  }
  .category a {
    transform: scale(1.0);
  }

  /* recipe details */
  .detail-wrapper {
    display: flex;
    padding: 0 2.5rem;
  }
  .detail-img, .recipe-detail {
    width: 75%;
    margin: auto;
    margin-top: 2rem;
  }
}
@media (min-width: 1280px) {
  /* search */
  .search {
    width: 35%;
  }
  input {
    padding: 12px 38px;
  }

  /* category */
  .category {
    width: 30%;
  }
  /* recipe details */
  .detail-wrapper {
    padding: 0 10rem;
  }
  .detail-img{
    width: 70%;

  } 
  .recipe-detail {
    width: 80%;
  }


}
